body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="date"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #2874a7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2971ac;
}

.confirmation-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.confirmation-link {
    margin-top: 15px;
    text-align: center;
}

.confirmation-link a {
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
}

.confirmation-link a:hover {
    text-decoration: underline;
}

.tasks {

    display: flex;
    flex-direction: row;

}

.tasks p {
    font-size: 17px;
    margin: auto;
    margin-right: 100px;
    margin-top: 20px;
}

.todobtn {
    margin-top: 20px;
    margin-left: 24%;
    margin-right: 10px;
    background-color: #007acc;
}

.return {
    margin-top: 30px;
}

#erase {
    background-color: rgb(201, 10, 10);
}

#erase:hover {
    background-color: rgb(232, 8, 8);
    transition: 0.6s all;
}

#niceone {
    background-color: rgb(4, 224, 132);
}

#niceone:hover {
    background-color: rgb(4, 197, 132);
    transition: 0.6s all;
}

.confirm-btn {
    display: flex;
    margin-left: 35%;
}

.confirm-btn form {
    margin-right: 10px;
}

.submit {
    margin-bottom: 10px;
}