<link rel="stylesheet" href="/css/styles.css">

    <div class="confirmation-container">
        <h2>The edit was done</h2>
        <p>Everything was done successfully</p>
        <div class="confirmation-link">
            <p><a href="/viewtasks">Return</a></p>
        </div>
    </div>