    <div class="container">
        <h1>My Todolist</h1>
        <form action="/sendinformations" method="POST">
        <div class="input-area">
            <input type="text" id="name" placeholder="Name" required>
            <input type="text" id="task" placeholder="Task" required>
            <input type="date" id="date" placeholder="Date" required>
            <button type="submit">Add Task</button>
        </div>
        </form>
    </div>