<link rel="stylesheet" href="/css/styles.css">

    <div class="confirmation-container">
        <h2>The task was sent</h2>
        <p>The task creation was done successfully</p>
        <div class="confirmation-link">
            <p><a href="/viewtasks">View tasks</a></p>
        </div>
    </div>