    <div class="container">
        <h1>My Todolist</h1>
        <div class="input-area">
        <form action="/sendinformations" method="POST">

            {{#each tasks}}

            <div class="tasks">

                <p>- {{ name }}</p>

               <p> {{ task }}</p>

               <form action="/edittask/{{ id }} ">
               
               <button type="submit" class="todobtn">Edit</button>
               
               </form>

               <form action="/deletetask/{{ id }}" method="POST">
               
               <button type="submit" class="todobtn">Delete</button>
               
               </form>


            </div>

            {{/each}}

        </form>
        </div>
    </div>